<!doctype html>
<html ng-app="usersApp">
	<head>
		<meta charset="utf-8">
        <title>Users Info</title>
        <link rel="stylesheet" type="text/css" href="css/modalWinStyle.css" />
        <link rel="stylesheet" type="text/css" href="css/tableStyle.css" />
        <link rel="stylesheet" type="text/css" href="css/linkStyle.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.11/angular.min.js"></script>
        <script src="js/angularScript.js"></script>
	</head>
	<body ng-controller="usersController">
        <br>
        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Username</th>
                    <th>E-mail</th>
                    <th>City</th>
                    <th>Phone</th>
					<th>Website</th>
                    <th>#</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="user in users">
                    <td>{{user.id}}</td>
                    <td>{{user.name}}</td>
                    <td>{{user.username}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.address.city}}</td>
                    <td>{{user.phone}}</td>
                    <td>{{user.website}}</td>
                    <td><a href="#" ng-click="showModalWin($index);">Show Detail Info</a></td>
                </tr>
            </tbody>
        </table>

        <div id="mWin" class="modalwin">
            <h4>Detail Info:</h4>
            <p>Id: {{user.id}}</p>
            <p>Name: {{user.name}}</p>
            <p>Username: {{user.username}}</p>
            <p>Email: {{user.email}}</p>
            <p>Address: <p>
            <ul>
                <li>Street: {{user.address.street}}</li>
                <li>Suite: {{user.address.suite}}</li>
                <li>City: {{user.address.city}}</li>
                <li>Zipcode: {{user.address.zipcode}}</li>
                <p>Geo: <p>
                <ul>
                    <li>lat: {{user.address.geo.lat}}</li>
                    <li>lng: {{user.address.geo.lng}}</li>
                </ul>
            </ul>
            <p>Phone: {{user.phone}}</p>
            <p>Website: {{user.website}}</p>
            <p>Company: <p>
            <ul>
                <li>Name: {{user.company.name}}</li>
                <li>CatchPhase: {{user.company.catchPhrase}}</li>
                <li>Bs: {{user.company.bs}}</li>
            </ul>
        </div>
	</body>
</html>